<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Search your favorite restaurant">
    <meta name="theme-color" content="#222225"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <title>Resto Hunter</title>
</head>

<body>
    <a href="#main" class="skip-link">Menuju ke konten</a>

    <header class="header">
        <div class="header__content">
            <img class="header__logo" src="logo.png" alt="Logo">
            <h1 class="header__title">Resto Hunter</h1>
        </div>
        <nav class="nav">
            <button class="nav__toggler" aria-label="Navigation Toggle"></button>
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/wildanzq/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <img class="hero__img" src="./images/heros/hero-image_2.jpg" alt="Hero">
        <div class="hero__content">
            <h1 class="hero__title">Temukan Restoran Favoritmu</h1>
        </div>
    </div>

    <main id="main">
        <section class="restaurant" id="restaurant"></section>
    </main>

    <footer>
        Copyright © 2021 - Resto Hunter
    </footer>
</body>

</html>